@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #181818;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.clock{
    color: white;
}

.clock .clock-time{
    font-size: 100px;
}
.clock .clock-date{
    font-size: 25px;
    margin-top: -40px;
}

.main-profile-image {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    border-style: solid;
    border-color: #fff;
    border-width: .75vh;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*-webkit-animation: heartbeat 3.5s ease-in-out infinite both;*/
    /*animation: heartbeat 3.5s ease-in-out infinite both;*/
}

.skillbar {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.skillbar-bar:before {
    background: transparent;
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.skillbar-bar {
    height: 5px;
    width: 0px;
    background: #e2e2e2;
    transition-property: width, background-color;
}
.skillbar-bar-under {
    height: 5px;
    width: 100%;
    background: #3d3d3d;
}

.skillbar-title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.skill-bar-percent {
    float: right;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu a i{
    color:white;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.menu a i:hover{
    font-size: 30px;
}

.menu a.active i{
    color: #006955;
    font-size: 30px;
}

button {
    color: #494949 !important;
    text-transform: uppercase;
    font-size: 20px;
    background: #ffffff;
    padding: 10px;
    border: 4px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
}

button:hover {
    color: #ffffff !important;
    background: #f6b93b;
    border-color: #f6b93b !important;
    transition: all 0.4s ease 0s;
}

/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}