<!DOCTYPE html>
<html>
<head>
    <title>K a s e m s a n M a o t h a</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/custom.css'/>
    <link rel='stylesheet' href='/css/animations.css'/>
</head>
<body>
<section class="tab-content">
    <!-- Home page -->
    <section class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row d-flex justify-content-center" style="height: 20vh">
            <div class="clock">
                <p id="time" class="clock-time text-center">12:10</p>
                <p id="date" class="clock-date text-center">Friday, October 12</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row" style="height: 70vh;margin-left: 10vw">
                    <div class="skillbar align-self-center" data-percent="80%">
                        <div class="skillbar-title">Programming</div>
                        <div class="skill-bar-percent">80%</div>
                        <div class="skillbar-bar" style="width: 80%;"></div>
                        <div class="skillbar-bar-under"></div>
                    </div>
                    <div class="skillbar align-self-center" data-percent="80%">
                        <div class="skillbar-title">Design</div>
                        <div class="skill-bar-percent">80%</div>
                        <div class="skillbar-bar" style="width: 80%;"></div>
                        <div class="skillbar-bar-under"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="width: 30vw;">
                <div class="row" style="height: 60vh">
                    <img class="main-profile-image" src="/img/profile_crop.jpg">
                </div>
                <div class="row d-flex justify-content-center">
                    <button style="padding-left: 50px; padding-right: 50px">M o r e</button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row" style="height: 70vh;margin-right: 10vw;">
                    <div class="skillbar align-self-center" data-percent="80%">
                        <div class="skillbar-title">Language</div>
                        <div class="skill-bar-percent">80%</div>
                        <div class="skillbar-bar" style="width: 80%;"></div>
                        <div class="skillbar-bar-under"></div>
                    </div>
                    <div class="skillbar align-self-center" data-percent="80%">
                        <div class="skillbar-title">Learning</div>
                        <div class="skill-bar-percent">80%</div>
                        <div class="skillbar-bar" style="width: 80%;"></div>
                        <div class="skillbar-bar-under"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tab-pane" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
        <div class="row">
            <div class="column">
                <img src="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg" alt="Nature" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg" alt="Snow" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg" alt="Mountains" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="column">
                <img src="https://41.media.tumblr.com/0390d80d6c8cc4a7096033182a4bfe8a/tumblr_ndyvukSjNl1tubinno1_1280.jpg" alt="Lights" style="width:100%" onclick="myFunction(this);">
            </div>
        </div>

        <div class="container">
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
            <img id="expandedImg" style="width:100%">
            <div id="imgtext"></div>
        </div>
        <!--<div id="aniimated-thumbnials">-->

        <!--</div>-->
        <!--<button id="btn-instafeed-load" >Load more</button>-->
    </section>
    <section class="tab-pane" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
        <div class="row d-flex justify-content-center" style="height: 20vh">
            <div class="clock">
                <p id="time" class="clock-time text-center">12:10</p>
                <p id="date" class="clock-date text-center">Friday, October 12</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row" style="height: 70vh;margin-left: 10vw">
                    <div class="skillbar align-self-center" data-percent="80%">
                        <div class="skillbar-title">Programming</div>
                        <div class="skill-bar-percent">80%</div>
                        <div class="skillbar-bar" style="width: 80%;"></div>
                        <div class="skillbar-bar-under"></div>
                    </div>
                    <div class="skillbar align-self-center" data-percent="80%">
                        <div class="skillbar-title">Design</div>
                        <div class="skill-bar-percent">80%</div>
                        <div class="skillbar-bar" style="width: 80%;"></div>
                        <div class="skillbar-bar-under"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="width: 30vw;height: 70vh">
                <img class="main-profile-image" src="/img/profile_crop.jpg">
            </div>
            <div class="col-md-4">
                <div class="row" style="height: 70vh;margin-right: 10vw;">
                    <div class="skillbar align-self-center" data-percent="80%">
                        <div class="skillbar-title">Language</div>
                        <div class="skill-bar-percent">80%</div>
                        <div class="skillbar-bar" style="width: 80%;"></div>
                        <div class="skillbar-bar-under"></div>
                    </div>
                    <div class="skillbar align-self-center" data-percent="80%">
                        <div class="skillbar-title">Learning</div>
                        <div class="skill-bar-percent">80%</div>
                        <div class="skillbar-bar" style="width: 80%;"></div>
                        <div class="skillbar-bar-under"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row d-flex justify-content-center menu">
        <ul class="nav mb-3" id="TabMenu" role="tablist">
            <li class="nav-item">
                <a class="active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true"><i class="fas fa-user-circle"></i></a>
            </li>
            <li class="nav-item">
                <a id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery"
                   aria-selected="false"><i class="fas fa-image"></i></a>
            </li>
            <li class="nav-item">
                <a id="portfolio-tab" data-toggle="tab" href="#portfolio" role="tab" aria-controls="portfolio"
                   aria-selected="false"><i class="fas fa-folder-open"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://github.com/kasemsanm/"><i class="fab fa-github"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://gitlab.com/Kasemsanm"><i class="fab fa-gitlab"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://www.instagram.com/eng.kasemsanm/"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a href="https://www.facebook.com/KasemsanMaotha"><i class="fab fa-facebook-f"></i></a>
            </li>
        </ul>
    </section>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="/js/clock.js"></script>
<script src="/js/instafeed.js"></script>
<script src="/js/gallery.js"></script>
<script>
    function myFunction(imgs) {
        var expandImg = document.getElementById("expandedImg");
        var imgText = document.getElementById("imgtext");
        expandImg.src = imgs.src;
        imgText.innerHTML = imgs.alt;
        expandImg.parentElement.style.display = "block";
    }
</script>
</body>
</html>
